<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <%  @entries.each do |e| %>
    <h2><%= link_to e.creation_date, entry_path(e)%></h2>
    <p>
      <%= e.content %>
    </p>
    <% end %>
  </div>
</div>
