<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <h1>Journal like never before</h1>
    <h3>Record your thoughts and get daily email reminders</h3>
    <h4><%= link_to 'Sign up today', new_user_registration_path %></h4>
    <br>
    <br>
    <h3>Why to keep journal?</h3>
    <ol class="lefty">
      <li>Journals help you have a better connection with your values, emotions, and goals</li>
      <li>Journals Improve mental clarity/help solve problems/improve overall focus</li>
      <li>Journals improve insight and understanding</li>
      <li>Journals track your overall development</li>
      <li>Journals facilitate personal growth</li>
    </ol>
    <br />
    <br>
    <h3>How it works?</h3>
    <p>
      It's really simple - you get the daily reminder on your email with random entry from the past.
      This way you will never forget to write something about your day and you can reflect on your thoughts.
    </p>
  </div>
</div>
