<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @user.name %>!</h2>
    <h2>This is your post from <%= @entry.creation_date %>:</h2>
    <% @entry.content.each_line do |l| %>
    <h3>
      <%= l %>
    </h3>
    <% end %>
    <h3>
      Go to <%= @url %> to add new entry!
    </h3>
  </body>
</html>
