<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %>!</h1>
    <h2>This is your new post:</h2>
    <% @entry.content.each_line do |l| %>
    <p>
      <%= l %>
    </p>
    <% end %>
    <p>
      Go to <%= @url %> to add new entry!
    </p>
  </body>
</html>
