<div class="row">
  <div class="col-md-12">
    <footer id="main-footer" >
      <p class="copyright">
        &copy; 2016 Adam Szczombrowski
      </p>
      <nav>
        <a href="https://twitter.com/ASzczombrowski"><i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/adam-szczombrowski"><i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </nav>
    </footer>
  </div>
</div>
