<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p>
      	&copy;<%= link_to " Adam Szczombrowski 2016", 'http://adam-szczombrowski.herokuapp.com' %>
    </p>
  </div>
</nav>
